services:

  eMondrian:
    image: emondrian/emondrian:1.0.0
    container_name: emondrian_service
    volumes:
      - ./logs:/usr/local/tomcat/logs
      #- ./datasources.xml:/usr/local/tomcat/webapps/emondrian/WEB-INF/datasources.xml
      #- ./context.xml:/usr/local/tomcat/conf/context.xml   # Volume for Tomcat to update data immediately
      #- ./mondrian.properties:/usr/local/tomcat/webapps/emondrian/WEB-INF/classes/mondrian.properties
      #- ./schema:/usr/local/tomcat/webapps/emondrian/WEB-INF/schema
      #- ./clickhouse-jdbc-0.3.2-patch10-all.jar:/usr/local/tomcat/webapps/emondrian/WEB-INF/lib/clickhouse-jdbc-0.3.2-patch10-all.jar
    environment:
      TZ: Europe/Zurich
      #JAVA_TOOL_OPTIONS: "$JAVA_TOOL_OPTIONS -Xms2g -Xmx4g -XX:+UseG1GC"
    restart: unless-stopped
    networks:
      - app_network


  webOlapClient:
    image: emondrian/webolapclient:0.0.1
    container_name: web_olap_client
    networks:
      - app_network

  emondrian_entry:
    image: emondrian/entry:0.0.1
    container_name: emondrian_entry
    ports:
      - "80:80"
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      - eMondrian
      - webOlapClient

networks:
  app_network:
    driver: bridge
